footer {
  /* position: sticky;
  left: 0; */
  bottom: 0;
  width: 100%;
  background-color: #323232!important;
  color: white;
  text-align: center;
  font-weight: 300 bolder;
  margin-top: 50px;
}

/* .navigation--footer{
  
    
} */
footer{
  display: flex;
  justify-content: space-between;
}
.list{
  list-style: none;
  display: flex;
  justify-content: space-between;
}